@import "tailwindcss";

:root {
  --background: #f2f3f5;
  --foreground: #111318;
  --primary: #1c398e;
  --secondary: #ffb55e;
  --success: #7adf8e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

